.modal {
    background-color: #000000;
    width: 480px;
    height: 720px;
    opacity: 0.3;
}

.base-button {
    text-align: center;
}
.button-pointer {
    cursor: pointer;
}
.pause-main-menu-button {
    background-color: #888888;
    color: #ffffff;
    width: 400px;
    font: 40px Consolas Monaco MSゴシック;
    padding: 10px 0px;
    border: solid 3px #ffffff;
    border-radius: 10px;
}
.pause-main-menu-button-small {
	width: 120px;
}
.pause-main-menu-button-middle {
	width: 180px;
}
.pause-main-menu-button-white {
	background-color: #EFEFEF;
	color: #333333;
}
.pause-main-menu-button-green {
	background-color: #28DE82;
}
.pause-main-menu-button-red {
	background-color: #FF7A7A;
}
.pause-main-menu-button-orange {
	background-color: #FB7744;
}
.pause-main-menu-button-purple {
	background-color: #C77FEC;
}
.pause-main-menu-button-blue {
	background-color: #6695FF;
}
.title-menu-button {
    background-color: #ece8e4;
    width: 200px;
    font: 30px Consolas Monaco MSゴシック;
    padding: 10px 0px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    border-bottom: 4px solid #c1c1c1;
    background-image: linear-gradient(to bottom, #ffffff, #d8d8d8);
    box-shadow: inset 1px 1px 0 #afafaf;
}
.base-ok-button {
    background-color: #FF5495;
    width: 150px;
    padding: 10px 0px;
    font: 37px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
}
.base-ok-button-sp {
	font-size: 29px;
}
.base-cancel-button {
    background-color: #4FA2E8;
    width: 150px;
    padding: 10px 0px;
    font: 30px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
}
.base-cancel-button-sp {
	font-size: 24px;
}
.base-buy-button {
    background-color: #29DE7A;
    width: 150px;
    padding: 5px 0px;
    font: 37px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
}
.osusume-button {
    background-color: #29DE7A;
    width: 180px;
    padding: 7px 0px;
    font: 37px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
}
.story-button {
    background-color: #29DE7A;
    width: 150px;
    padding: 10px 0px;
    font: 37px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
}
.base-set-button {
    background-color: #29DE7A;
    width: 150px;
    padding: 7px 0px;
    font: 37px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
}



.base-dialog {
    background-color: #ffffff;
    text-align: center;
    font: 22px Consolas Monaco MSゴシック;
    border: solid 3px #aaaaaa;
    border-radius: 10px;
}
.base-dialog-save {
    padding: 100px 0px 200px 0px;
}
.base-dialog-bet {
    padding: 100px 0px 90px 0px;
    width: 340px;
}
.base-dialog-menu {
    padding: 200px 0px 300px 0px;
    width: 420px;
}
.base-dialog-high {
    padding: 200px 0px 390px 0px;
    width: 420px;
}
.base-dialog-select {
    padding: 200px 0px 200px 0px;
    width: 400px;
}
.base-dialog-select-high {
    padding: 200px 0px 230px 0px;
    width: 400px;
}

.base-discription{
    font: 20px Consolas Monaco MSゴシック;
    line-height: 1.2em;
}
.base-discription-sp{
	font-size:17px;
}
.title-discription{
    font-size: 34px;
}
.title-discription-sp{
    font-size: 27px;
}
.head-title-discription{
    font-size: 34px;
    text-decoration: underline;
}
.head-title-discription-sp{
	font-size: 27px;
}

.grayscale{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.triangle-top:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 35px solid #333;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.triangle-bottom:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 35px solid #333;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.base-checkbox {
    font: 22px Consolas Monaco MSゴシック;
    cursor: pointer;
}
.check-grayout {
    color: #aaa;
}
.checkbox-size {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.white-text {
    color: #ffffff;
    font: 40px Consolas Monaco MSゴシック;
}
.batu-button {
    color: #ffffff;
    font: 40px Consolas Monaco MSゴシック;
    cursor: pointer;
}

.title-scene-discription {
    width: 480px;
    height: 200px;
    margin: 0px 20px;
}
.title-head {
    font: 24px Consolas Monaco MSゴシック;
    margin-top: 10px;
}
.title-dsc {
    font: 20px Consolas Monaco MSゴシック;
    margin: 5px 10px;
    line-height: 1.5em;
}
.title-head-sp {
    font: 20px Consolas Monaco MSゴシック;
    margin-top: 8px;
}
.title-dsc-sp {
    font: 16px Consolas Monaco MSゴシック;
    margin: 4px 8px;
    line-height: 1.5em;
}
.help-button {
    font: 24px Consolas Monaco MSゴシック;
    color: white;
    background-color: blue;
    padding: 5px;
}
.help-discription {
    font: 20px Consolas Monaco MSゴシック;
}
.help-discription-sp {
    font: 16px Consolas Monaco MSゴシック;
}
.help-title {
    font: 26px Consolas Monaco MSゴシック;
}
.help-title-sp {
    font: 22px Consolas Monaco MSゴシック;
}