.modal {
    background-color: #000000;
    width: 480px;
    height: 720px;
    opacity: 0.3;
}

.base-button {
    text-align: center;
}
.button-pointer {
    cursor: pointer;
}
.pause-main-menu-button {
    background-color: #888888;
    color: #ffffff;
    width: 400px;
    font: 40px Consolas Monaco MSゴシック;
    padding: 10px 0px;
    border: solid 3px #ffffff;
    border-radius: 10px;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    text-shadow: #6b6b6b 1px 1px 0px, #6b6b6b -1px 1px 0px,
             #6b6b6b 1px -1px 0px, #6b6b6b -1px -1px 0px;
    background-image:
        linear-gradient(45deg, #808080 25%, transparent 25%, transparent 75%, #808080 75%, #808080),
        linear-gradient(45deg, #808080 25%, transparent 25%, transparent 75%, #808080 75%, #808080);
}
.pause-main-menu-button-small {
	width: 120px;
}
.pause-main-menu-button-mini {
    width: 120px;
    font-size: 30px;
    text-decoration: none;
    padding: 15px 0px;
}
.pause-main-menu-button-middle {
	width: 180px;
}
.pause-main-menu-button-white {
	background-color: #EFEFEF;
	background-image:
        linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 75%, #e5e5e5 75%, #e5e5e5),
        linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 75%, #e5e5e5 75%, #e5e5e5);
    color: #333333;
    text-shadow: white 1px 1px 0px, white -1px 1px 0px,
             white 1px -1px 0px, white -1px -1px 0px;
}
.pause-main-menu-button-green {
	background-color: #28DE82;
    background-image:
        linear-gradient(45deg, #18d274 25%, transparent 25%, transparent 75%, #18d274 75%, #18d274),
        linear-gradient(45deg, #18d274 25%, transparent 25%, transparent 75%, #18d274 75%, #18d274);
}
.pause-main-menu-button-red {
	background-color: #FF7A7A;
    background-image:
        linear-gradient(45deg, #f56f6f 25%, transparent 25%, transparent 75%, #f56f6f 75%, #f56f6f),
        linear-gradient(45deg, #f56f6f 25%, transparent 25%, transparent 75%, #f56f6f 75%, #f56f6f);
}
.pause-main-menu-button-orange {
	background-color: #FB7744;
    background-image:
        linear-gradient(45deg, #f36c38 25%, transparent 25%, transparent 75%, #f36c38 75%, #f36c38),
        linear-gradient(45deg, #f36c38 25%, transparent 25%, transparent 75%, #f36c38 75%, #f36c38);
}
.pause-main-menu-button-purple {
	background-color: #C77FEC;
    background-image:
        linear-gradient(45deg, #b86dde 25%, transparent 25%, transparent 75%, #b86dde 75%, #b86dde),
        linear-gradient(45deg, #b86dde 25%, transparent 25%, transparent 75%, #b86dde 75%, #b86dde);
}
.pause-main-menu-button-blue {
	background-color: #6695FF;
    background-image:
        linear-gradient(45deg, #5886ef 25%, transparent 25%, transparent 75%, #5886ef 75%, #5886ef),
        linear-gradient(45deg, #5886ef 25%, transparent 25%, transparent 75%, #5886ef 75%, #5886ef);
}
.pause-main-menu-button-sky {
    background-color: #68bae0;
    background-image:
        linear-gradient(45deg, #58ccef 25%, transparent 25%, transparent 75%, #58ccef 75%, #58ccef),
        linear-gradient(45deg, #58ccef 25%, transparent 25%, transparent 75%, #58ccef 75%, #58ccef);
}
.title-menu-button {
    background-color: #ece8e4;
    width: 200px;
    font: 30px Consolas Monaco MSゴシック;
    padding: 10px 0px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    border-bottom: 4px solid #c1c1c1;
    background-image: linear-gradient(to bottom, #ffffff, #d8d8d8);
    box-shadow: inset 1px 1px 0 #afafaf;
}
.base-ok-button {
    background-color: #FF5495;
    width: 150px;
    padding: 10px 0px;
    font: 26px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    text-shadow: #6b6b6b 1px 1px 0px, #6b6b6b -1px 1px 0px,
             #6b6b6b 1px -1px 0px, #6b6b6b -1px -1px 0px;
    background-image:
        linear-gradient(45deg, #f3498a 25%, transparent 25%, transparent 75%, #f3498a 75%, #f3498a),
        linear-gradient(45deg, #f3498a 25%, transparent 25%, transparent 75%, #f3498a 75%, #f3498a);
    box-shadow:0px 0px 1px 1px #6b6b6b ,0px 0px 1px 1px #6b6b6b inset;
}
.base-ok-button-sp {
	font-size: 26px;
}
.base-cancel-button {
    background-color: #4FA2E8;
    width: 150px;
    padding: 10px 0px;
    font: 24px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    text-shadow: #6b6b6b 1px 1px 0px, #6b6b6b -1px 1px 0px,
             #6b6b6b 1px -1px 0px, #6b6b6b -1px -1px 0px;
    background-image:
        linear-gradient(45deg, #4499e0 25%, transparent 25%, transparent 75%, #4499e0 75%, #4499e0),
        linear-gradient(45deg, #4499e0 25%, transparent 25%, transparent 75%, #4499e0 75%, #4499e0);
    box-shadow:0px 0px 1px 1px #6b6b6b ,0px 0px 1px 1px #6b6b6b inset;
}
.base-cancel-button-sp {
	font-size: 24px;
}
.base-buy-button {
    background-color: #29DE7A;
    width: 150px;
    padding: 5px 0px;
    font: 31px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    text-shadow: #6b6b6b 1px 1px 0px, #6b6b6b -1px 1px 0px,
             #6b6b6b 1px -1px 0px, #6b6b6b -1px -1px 0px;
    background-image:
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873),
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873);
    box-shadow:0px 0px 1px 1px #6b6b6b ,0px 0px 1px 1px #6b6b6b inset;
}
.base-buy-button-sp {
    font-size: 31px;
}
.osusume-button {
    background-color: #29DE7A;
    width: 180px;
    padding: 7px 0px;
    font: 37px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    text-shadow: #6b6b6b 1px 1px 0px, #6b6b6b -1px 1px 0px,
             #6b6b6b 1px -1px 0px, #6b6b6b -1px -1px 0px;
    background-image:
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873),
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873);
    box-shadow:0px 0px 1px 1px #6b6b6b ,0px 0px 1px 1px #6b6b6b inset;
}
.story-button {
    background-color: #29DE7A;
    width: 150px;
    padding: 10px 0px;
    font: 28px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    text-shadow: #6b6b6b 1px 1px 0px, #6b6b6b -1px 1px 0px,
             #6b6b6b 1px -1px 0px, #6b6b6b -1px -1px 0px;
    background-image:
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873),
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873);
    box-shadow:0px 0px 1px 1px #6b6b6b ,0px 0px 1px 1px #6b6b6b inset;
}
.base-set-button {
    background-color: #29DE7A;
    width: 150px;
    padding: 7px 0px;
    font: 27px Consolas Monaco MSゴシック;
    border: solid 3px #cccccc;
    color: white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    text-shadow: #6b6b6b 1px 1px 0px, #6b6b6b -1px 1px 0px,
             #6b6b6b 1px -1px 0px, #6b6b6b -1px -1px 0px;
    background-image:
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873),
        linear-gradient(45deg, #22d873 25%, transparent 25%, transparent 75%, #22d873 75%, #22d873);
    box-shadow:0px 0px 1px 1px #6b6b6b ,0px 0px 1px 1px #6b6b6b inset;
}



.base-dialog {
    background-color: #ffffff;
    text-align: center;
    font: 22px Consolas Monaco MSゴシック;
    border: solid 3px #aaaaaa;
    border-radius: 10px;
    background-image: radial-gradient(#fff7fc 40%, transparent 0), radial-gradient(#fff7fc 40%, transparent 0);
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
}
.base-dialog-save {
    padding: 100px 0px 200px 0px;
}
.base-dialog-bet {
    padding: 100px 0px 90px 0px;
    width: 340px;
}
.base-dialog-menu {
    padding: 200px 0px 300px 0px;
    width: 420px;
}
.base-dialog-high {
    padding: 200px 0px 390px 0px;
    width: 420px;
}
.base-dialog-select {
    padding: 200px 0px 200px 0px;
    width: 400px;
}
.base-dialog-select-high {
    padding: 200px 0px 230px 0px;
    width: 400px;
}

.base-discription{
    font: 17px Consolas Monaco MSゴシック;
    line-height: 1.2em;
}
.base-discription-sp{
	font-size:17px;
}
.title-discription{
    font-size: 27px;
}
.title-discription-sp{
    font-size: 27px;
}
.head-title-discription{
    font-size: 27px;
}
.head-title-discription-sp{
	font-size: 27px;
}
.head1-discription {
    text-align: center;
    border: solid 2px;
    border-radius: 50px;
    padding: 3px;
    color: #fff;
    border-color: #fff;
    background-color: #ff4baf;
    box-shadow:0px 0px 1px 1px #6b6b6b ,0px 0px 1px 1px #6b6b6b inset;
}
.head2-discription {
    text-align: center;
    border: solid 2px;
    border-radius: 50px;
    padding: 3px;
    border-color: #ff4baf;
    background-color: #fff;
}

.grayscale{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.triangle-top:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 35px solid #333;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.triangle-bottom:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 35px solid #333;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.base-checkbox {
    font: 22px Consolas Monaco MSゴシック;
    cursor: pointer;
}
.check-grayout {
    color: #aaa;
}
.checkbox-size {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.white-text {
    color: #ffffff;
    font: 40px Consolas Monaco MSゴシック;
}
.batu-button {
    color: #ffffff;
    font: 40px Consolas Monaco MSゴシック;
    cursor: pointer;
}

.title-scene-discription {
    width: 480px;
    height: 200px;
    margin: 0px 20px;
}
.title-head {
    font: 24px Consolas Monaco MSゴシック;
    margin-top: 10px;
}
.title-dsc {
    font: 18px Consolas Monaco MSゴシック;
    margin: 5px 10px;
    line-height: 1.5em;
}
.title-head-sp {
    font: 20px Consolas Monaco MSゴシック;
    margin-top: 8px;
}
.title-dsc-sp {
    font: 16px Consolas Monaco MSゴシック;
    margin: 4px 8px;
    line-height: 1.5em;
}
.help-button {
    font: 21px Consolas Monaco MSゴシック;
    color: white;
    background-color: #7777fd;
    padding: 5px;
    border-radius: 50px;
}
.help-button.help-button-unread {
    background-color: red;
}
.help-discription {
    font: 16px Consolas Monaco MSゴシック;
}
.help-discription-sp {
    font: 16px Consolas Monaco MSゴシック;
}
.help-title {
    font: 22px Consolas Monaco MSゴシック;
}
.help-title-sp {
    font: 22px Consolas Monaco MSゴシック;
}
.red {
    color: #f00;
}